extends layout

block content
  //formulaire de connexion
  form(method='POST' action='')
    div.form-group
      label(for='login') Identifiant:
      input#login.form-control(type='text' name='login' required='true')

    div.form-group
      label(for='password') Mot de passe:
      input#password.form-control(type='password' name='password' required='true')

    button.btn.btn-primary(type='submit') Se connecter
  //Possibilité d'inscrire un nouvel utilisateur
  form.form-inline(method='POST' action='/user/register')
    p Pas de compte ?
    button.btn.btn-secondary(type='submit') S'inscrire

