extends login

block content
    //Formulaire associé
    form(method='POST' action='/user/new')
        div.form-group
            label(for='login') Identifiant:
            input#login.form-control(type='text' name='login' required='true')

        div.form-group
            label(for='password') Mot de passe:
            input#password.form-control(type='password' name='password' required='true')

        div.form-group
            label(for='name') Prénom:
            input#name.form-control(type='text' name='name' required='true')

        div.form-group
            label(for='surname') Nom:
            input#surname.form-control(type='text' name='surname' required='true')
        //Pas de possibilité de créer un utilisateur administrateur directement, pour cela il faudra demander à un autre administrateur de le faire
        button.btn.btn-primary(type='submit') S'inscrire