extends layout

block content
    //formulaire de recherche de ressource
    form(method='POST' action='/ressource/search')
        div.form-group
            label(for='name') Nom de la ressource:
            input#name.form-control(type='text' name='name' required='true')

        btn.btn.btn-primary(type='submit') Nouvelle recherche
    br
    //Pour revenir à l'accueil
    form.form-inline(method='GET' action='/home')
        button.btn.btn-primary(type='submit') Retour à l'accueil
    //Pour chaque ressource données lors de l'appel à la page,
    each ressource in res_array
        hr
        //afficher le nom puis l'architecture
        p Ressource : #{ressource.name}
        p Suivant l'architecture #{ressource.architecture}