extends layout

block content
    //Pour revenir à l'accueil
    form.form-inline(method='GET' action='/home')
        button.btn.btn-primary(type='submit') Retour à l'accueil
    //Pour chaque réservation donnée lors de l'appel
    each reservation in resa_array
        hr
        //afficher leur détail
        p Réservation par : #{reservation.owner}
        Date Du : #{reservation.start_date}
        Date Au : #{reservation.end_date}
        p Ressources réservées:
        each ressource in reservation.ressources
            p #{ressource}