extends layout
//Page de confirmation de réservation
block content
    p Votre réservation est confirmée !
    p Vous avez réservé #{nb_res} ressources pour une durée de #{days} jours.
    //Pour effectuer une nouvelle réservation
    form.form-inline(method='POST' action="/reservation")
        button(class="btn btn-primary" type="submit") Nouvelle réservation.
    //Pour revenir à l'accueil directement
    form.form-inline(method='GET' action="/home")
        button(class="btn btn-primary" type="submit") Retour à l'accueil.